# =========================
# Kernel Builder Config
# =========================

# For optional values set value "" if you dont want to set anything

# --- Architecture --- Required
ARCH=arm64

# --- Toolchain --- Root of folder of the toolchain here - Required
TD="$HOME/toolchains/zyc-clang-14-20260619"

# --- Paths --- Required except CROSS_COMPILE_ARM32
BIN_PATH=${TD}/bin
CC=${BIN_PATH}/clang
CLANG_TRIPLE=aarch64-linux-gnu-
CROSS_COMPILE=${BIN_PATH}/aarch64-linux-gnu-
CROSS_COMPILE_ARM32=${BIN_PATH}/arm-linux-gnueabi-

# --- Build Flags --- Optional except SECTION_MISMATCH_WARN_ONLY
KCFLAGS=" -w -pipe -O3"
KCPPFLAGS=" -O3"
ANDROID_MAJOR_VERSION=r
SECTION_MISMATCH_WARN_ONLY=y
ENV=""

# --- Build output --- Required
OUT_DIR=out
MODULES_OUT_DIR=out_modules
